<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cointizen.paysdk">

    <!-- SDK 相关 start -->
    <!-- 添加必要的权限支持 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- The Agora SDK requires Bluetooth permissions in case users are using Bluetooth devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:supportsRtl="true">

        <service
            android:name=".service.YunBaiDuMsgService"
            android:enabled="true"
            android:exported="true"/>
        <activity
            android:name="com.cointizen.streaming.ChannelsListActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.cointizen.streaming.ActivityWatchStream"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.cointizen.streaming.WatchLiveStreamingActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false"
            android:supportsPictureInPicture="true">
        </activity>
        <activity
            android:name=".activity.MCHFunctionPopActivity"
            android:theme="@style/mch_MyFunctionDialogStyle" />
        <activity
            android:name=".activity.MCHelperCenter"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHelperDetActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHBalanceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHWelfareActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHMsgActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHMsgDetActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHGiftDetActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHNoticeDialogActivity"
            android:theme="@style/mch_MyFunctionDialogStyle" />
        <activity
            android:name=".activity.MCHBindMailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHUserCenterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHPayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHExchangePtbActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHRecordExchangeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MGatePaymentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
        </activity>
        <activity
            android:name=".activity.OttUPayPaymentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHTopupYLPDActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.MCHPayRecordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHManagementAccountActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHChooseAccountActivity"
            android:theme="@style/mch_MyFunctionDialogStyle" />
        <activity
            android:name=".activity.MCHCouponMyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHCouponAllActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHShareActivity"
            android:theme="@style/mch_MCHTransparent" />
        <activity
            android:name=".activity.MCHPacksActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHChangePasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHMoneyRecordActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHGameRecordActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHBindPhoneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHVisitorUpdateInfo"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".utils.MCHLolly" />
        <activity
            android:name=".activity.MCHForgetPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHSocialActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHListViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHCommunicateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHDiscountRebateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHTransparencyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/mch_MCHTransparent" />
        <activity
            android:name=".activity.MCHThirdLoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/mch_MCHTransparent" />
        <activity
            android:name=".activity.MCHControlResActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/mch_MCHTransparent" />
        <activity
            android:name=".activity.MCHWapPayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MCHWebviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- 插件功能相关 -->
        <activity
            android:name="com.cointizen.plugin.qg.utils.UpgradeVersionDialog"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/mch_MyFunctionDialogStyle" />
        <activity
            android:name="com.cointizen.plugin.vip.activity.MCHGradeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" /> <!-- qq -->
    </application>

</manifest>